In [1]:
import numpy as np
import pandas as pd

In [2]:
d_range = pd.date_range('2022-06-01', '2022-10-31', freq='W-WED')

In [54]:
d_range

DatetimeIndex(['2022-06-01', '2022-06-08', '2022-06-15', '2022-06-22',
               '2022-06-29', '2022-07-06', '2022-07-13', '2022-07-20',
               '2022-07-27', '2022-08-03', '2022-08-10', '2022-08-17',
               '2022-08-24', '2022-08-31', '2022-09-07', '2022-09-14',
               '2022-09-21', '2022-09-28', '2022-10-05', '2022-10-12',
               '2022-10-19', '2022-10-26'],
              dtype='datetime64[ns]', freq='W-WED')

In [4]:
file_range = d_range.strftime('%Y%m%d')

In [55]:
file_range

Index(['20220601', '20220608', '20220615', '20220622', '20220629', '20220706',
       '20220713', '20220720', '20220727', '20220803', '20220810', '20220817',
       '20220824', '20220831', '20220907', '20220914', '20220921', '20220928',
       '20221005', '20221012', '20221019', '20221026'],
      dtype='object')

In [60]:
for i in file_range:
     globals()['df{}'.format(i)] = pd.read_csv('data/CI_DAY_AVRG_LSR_CLTUR_TIME_ND_USE_RLIMP_INFO_{}.csv'.format(i))

In [61]:
df20220601

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53363984,20220601,F,40대,강원도,500이상700만원 미만,4,6,32,40,20,10,30,0
1,53369801,20220601,M,30대,강원도,300이상500만원 미만,4,6,32,40,30,10,20,0
2,53351832,20220601,F,50대,강원도,700만원 이상,3,8,31,50,40,10,0,0
3,53331067,20220601,F,40대,강원도,700만원 이상,1,8,21,20,20,30,30,0
4,53335111,20220601,M,50대,강원도,300이상500만원 미만,1,5,15,80,20,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,53360292,20220601,M,30대,충청북도,300이상500만원 미만,4,8,36,30,30,0,40,0
498,53361796,20220601,F,40대,충청북도,300만원 미만,2,5,20,30,50,20,0,0
499,53335191,20220601,M,20대,충청북도,700만원 이상,2,6,22,30,20,30,20,0
500,53353935,20220601,F,20대,충청북도,500이상700만원 미만,1,2,9,20,40,0,40,0
501,53357534,20220601,M,40대,충청북도,300이상500만원 미만,3,10,35,20,0,0,80,0

In [62]:
df_origin = pd.concat([df20220601, df20220608, df20220615, df20220622, df20220629, 
                df20220706, df20220713, df20220720, df20220727,
                df20220803, df20220810, df20220817, df20220824, df20220831,
                df20220907, df20220914, df20220921, df20220928,
                df20221005, df20221012, df20221019, df20221026])

In [63]:
df_origin

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53363984,20220601,F,40대,강원도,500이상700만원 미만,4,6,32,40,20,10,30,0
1,53369801,20220601,M,30대,강원도,300이상500만원 미만,4,6,32,40,30,10,20,0
2,53351832,20220601,F,50대,강원도,700만원 이상,3,8,31,50,40,10,0,0
3,53331067,20220601,F,40대,강원도,700만원 이상,1,8,21,20,20,30,30,0
4,53335111,20220601,M,50대,강원도,300이상500만원 미만,1,5,15,80,20,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,53377283,20221026,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
526,53377318,20221026,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
527,53377319,20221026,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
528,53377395,20221026,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
529,53377450,20221026,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [14]:
df_origin.isna().sum()

RESPOND_ID                             0
EXAMIN_BEGIN_DE                        0
SEXDSTN_FLAG_CD                        0
AGRDE_FLAG_NM                          0
ANSWRR_OC_AREA_NM                      0
HSHLD_INCOME_DGREE_NM                  0
WORKDAY_DAY_AVRG_LSR_TIME_VALUE        0
WKEND_DAY_AVRG_LSR_TIME_VALUE          0
ONE_WEEK_TOT_LSR_TIME_VALUE            0
LSR_TIME_REST_RCRT_USE_RATE            0
LSR_TIME_HOBBY_USE_RATE                0
LSR_TIME_SELF_IMPT_USE_RATE            0
LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE    0
LSR_TIME_ETC_USE_RATE                  0
dtype: int64

In [15]:
df_origin.describe()

,RESPOND_ID,EXAMIN_BEGIN_DE,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
count,1.156300e+04,1.156300e+04,11563.000000,11563.000000,11563.000000,11563.000000,11563.000000,11563.000000,11563.000000,11563.000000
mean,5.334866e+07,2.022081e+07,3.042290,5.782928,26.777307,40.771599,20.061230,12.954770,22.940846,3.271556
std,1.542376e+04,1.415538e+02,2.237041,3.451835,15.563963,25.365902,19.798965,15.425873,19.091191,11.675065
min,5.332218e+07,2.022060e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.333542e+07,2.022071e+07,2.000000,3.000000,16.000000,20.000000,0.000000,0.000000,10.000000,0.000000
50%,5.334830e+07,2.022082e+07,2.000000,5.000000,24.000000,40.000000,20.000000,10.000000,20.000000,0.000000
75%,5.336147e+07,2.022092e+07,4.000000,8.000000,35.000000,50.000000,30.000000,20.000000,30.000000,0.000000
max,5.337753e+07,2.022103e+07,18.000000,18.000000,126.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [16]:
df_origin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11563 entries, 0 to 529
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   RESPOND_ID                           11563 non-null  int64
 1   EXAMIN_BEGIN_DE                      11563 non-null  int64
 2   SEXDSTN_FLAG_CD                      11563 non-null  object
 3   AGRDE_FLAG_NM                        11563 non-null  object
 4   ANSWRR_OC_AREA_NM                    11563 non-null  object
 5   HSHLD_INCOME_DGREE_NM                11563 non-null  object
 6   WORKDAY_DAY_AVRG_LSR_TIME_VALUE      11563 non-null  int64
 7   WKEND_DAY_AVRG_LSR_TIME_VALUE        11563 non-null  int64
 8   ONE_WEEK_TOT_LSR_TIME_VALUE          11563 non-null  int64
 9   LSR_TIME_REST_RCRT_USE_RATE          11563 non-null  int64
 10  LSR_TIME_HOBBY_USE_RATE              11563 non-null  int64
 11  LSR_TIME_SELF_IMPT_USE_RATE          11563 non-null  int64
 12  LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE  11563 non-null  int64
 13  LSR_TIME_ETC_USE_RATE                11563 non-null  int64
dtypes: int64(10), object(4)
memory usage: 1.3+ MB

In [22]:
df_origin['EXAMIN_BEGIN_DE'].unique()

array([20220601, 20220608, 20220615, 20220622, 20220629, 20220706,
       20220713, 20220720, 20220727, 20220803, 20220810, 20220817,
       20220824, 20220831, 20220907, 20220914, 20220921, 20220928,
       20221005, 20221012, 20221019, 20221026], dtype=int64)

In [23]:
df_origin.shape

(11563, 14)

In [64]:
df_origin

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53363984,20220601,F,40대,강원도,500이상700만원 미만,4,6,32,40,20,10,30,0
1,53369801,20220601,M,30대,강원도,300이상500만원 미만,4,6,32,40,30,10,20,0
2,53351832,20220601,F,50대,강원도,700만원 이상,3,8,31,50,40,10,0,0
3,53331067,20220601,F,40대,강원도,700만원 이상,1,8,21,20,20,30,30,0
4,53335111,20220601,M,50대,강원도,300이상500만원 미만,1,5,15,80,20,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,53377283,20221026,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
526,53377318,20221026,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
527,53377319,20221026,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
528,53377395,20221026,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
529,53377450,20221026,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [65]:
df_origin = df_origin.reset_index()

In [66]:
df_origin.drop('index', axis=1, inplace=True)

In [67]:
df_origin

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53363984,20220601,F,40대,강원도,500이상700만원 미만,4,6,32,40,20,10,30,0
1,53369801,20220601,M,30대,강원도,300이상500만원 미만,4,6,32,40,30,10,20,0
2,53351832,20220601,F,50대,강원도,700만원 이상,3,8,31,50,40,10,0,0
3,53331067,20220601,F,40대,강원도,700만원 이상,1,8,21,20,20,30,30,0
4,53335111,20220601,M,50대,강원도,300이상500만원 미만,1,5,15,80,20,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11558,53377283,20221026,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
11559,53377318,20221026,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
11560,53377319,20221026,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
11561,53377395,20221026,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
11562,53377450,20221026,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [69]:
df_origin.to_csv('data/df_origin.csv')

In [40]:
df20220525 = pd.read_csv('data/CI_DAY_AVRG_LSR_CLTUR_TIME_ND_USE_RLIMP_INFO_20220525.csv')

In [41]:
df20220525

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322367,20220525,M,60대,서울특별시,300이상500만원 미만,8,12,64,50,30,0,20,0
1,53322506,20220525,M,20대,서울특별시,300만원 미만,2,4,18,50,10,10,30,0
2,53322541,20220525,F,60대,서울특별시,700만원 이상,8,6,52,30,20,40,10,0
3,53322648,20220525,F,50대,서울특별시,500이상700만원 미만,4,6,32,15,15,20,50,0
4,53322965,20220525,F,50대,서울특별시,300만원 미만,5,5,35,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,53376854,20220525,F,60대,충청북도,700만원 이상,3,5,25,10,30,30,30,0
496,53377040,20220525,F,20대,경상남도,700만원 이상,2,10,30,10,5,5,80,0
497,53377085,20220525,F,60대,서울특별시,700만원 이상,3,5,25,10,20,50,20,0
498,53377129,20220525,F,20대,부산광역시,무응답,6,6,42,50,40,10,0,0
499,53377311,20220525,F,60대,경기도,700만원 이상,1,2,9,90,0,0,10,0

In [53]:
pd.concat([df_origin, df20220525]).sort_values(['EXAMIN_BEGIN_DE', 'RESPOND_ID']).reset_index().drop('index', axis=1)

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322367,20220525,M,60대,서울특별시,300이상500만원 미만,8,12,64,50,30,0,20,0
1,53322506,20220525,M,20대,서울특별시,300만원 미만,2,4,18,50,10,10,30,0
2,53322541,20220525,F,60대,서울특별시,700만원 이상,8,6,52,30,20,40,10,0
3,53322648,20220525,F,50대,서울특별시,500이상700만원 미만,4,6,32,15,15,20,50,0
4,53322965,20220525,F,50대,서울특별시,300만원 미만,5,5,35,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12058,53377283,20221026,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
12059,53377318,20221026,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
12060,53377319,20221026,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
12061,53377395,20221026,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
12062,53377450,20221026,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [52]:
df_origin.to_csv('data/df_origin.csv')