In [1]:
import pandas as pd
import numpy as np

In [2]:
df_origin = pd.read_csv('data/df_origin.csv', index_col=0)

In [3]:
df_origin

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322367,20220525,M,60대,서울특별시,300이상500만원 미만,8,12,64,50,30,0,20,0
1,53322506,20220525,M,20대,서울특별시,300만원 미만,2,4,18,50,10,10,30,0
2,53322541,20220525,F,60대,서울특별시,700만원 이상,8,6,52,30,20,40,10,0
3,53322648,20220525,F,50대,서울특별시,500이상700만원 미만,4,6,32,15,15,20,50,0
4,53322965,20220525,F,50대,서울특별시,300만원 미만,5,5,35,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12058,53377283,20221026,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
12059,53377318,20221026,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
12060,53377319,20221026,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
12061,53377395,20221026,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
12062,53377450,20221026,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [5]:
df = df_origin.copy()

In [7]:
df['EXAMIN_BEGIN_DE'] = pd.to_datetime(df['EXAMIN_BEGIN_DE'], format='%Y%m%d')

In [8]:
df

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322367,2022-05-25,M,60대,서울특별시,300이상500만원 미만,8,12,64,50,30,0,20,0
1,53322506,2022-05-25,M,20대,서울특별시,300만원 미만,2,4,18,50,10,10,30,0
2,53322541,2022-05-25,F,60대,서울특별시,700만원 이상,8,6,52,30,20,40,10,0
3,53322648,2022-05-25,F,50대,서울특별시,500이상700만원 미만,4,6,32,15,15,20,50,0
4,53322965,2022-05-25,F,50대,서울특별시,300만원 미만,5,5,35,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12058,53377283,2022-10-26,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
12059,53377318,2022-10-26,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
12060,53377319,2022-10-26,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
12061,53377395,2022-10-26,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
12062,53377450,2022-10-26,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [9]:
df = df.rename(columns={'EXAMIN_BEGIN_DE':'date', 
                        'SEXDSTN_FLAG_CD': 'gender',
                        'AGRDE_FLAG_NM': 'age',
                        'ANSWRR_OC_AREA_NM': 'area',
                        'HSHLD_INCOME_DGREE_NM': 'income',
                        'WORKDAY_DAY_AVRG_LSR_TIME_VALUE': 'lsr_work',
                        'WKEND_DAY_AVRG_LSR_TIME_VALUE': 'lsr_weekend',
                        'ONE_WEEK_TOT_LSR_TIME_VALUE': 'lsr_tot',
                        'LSR_TIME_REST_RCRT_USE_RATE': 'rest',
                        'LSR_TIME_HOBBY_USE_RATE': 'hobby',
                        'LSR_TIME_SELF_IMPT_USE_RATE': 'self',
                        'LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE': 'relation',
                        'LSR_TIME_ETC_USE_RATE': 'etc'
                        })

In [10]:
df

,RESPOND_ID,date,gender,age,area,income,lsr_work,lsr_weekend,lsr_tot,rest,hobby,self,relation,etc
0,53322367,2022-05-25,M,60대,서울특별시,300이상500만원 미만,8,12,64,50,30,0,20,0
1,53322506,2022-05-25,M,20대,서울특별시,300만원 미만,2,4,18,50,10,10,30,0
2,53322541,2022-05-25,F,60대,서울특별시,700만원 이상,8,6,52,30,20,40,10,0
3,53322648,2022-05-25,F,50대,서울특별시,500이상700만원 미만,4,6,32,15,15,20,50,0
4,53322965,2022-05-25,F,50대,서울특별시,300만원 미만,5,5,35,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12058,53377283,2022-10-26,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
12059,53377318,2022-10-26,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
12060,53377319,2022-10-26,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
12061,53377395,2022-10-26,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
12062,53377450,2022-10-26,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12063 entries, 0 to 12062
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RESPOND_ID   12063 non-null  int64
 1   date         12063 non-null  datetime64[ns]
 2   gender       12063 non-null  object
 3   age          12063 non-null  object
 4   area         12063 non-null  object
 5   income       12063 non-null  object
 6   lsr_work     12063 non-null  int64
 7   lsr_weekend  12063 non-null  int64
 8   lsr_tot      12063 non-null  int64
 9   rest         12063 non-null  int64
 10  hobby        12063 non-null  int64
 11  self         12063 non-null  int64
 12  relation     12063 non-null  int64
 13  etc          12063 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(4)
memory usage: 1.4+ MB

In [12]:
df.isna().sum()

RESPOND_ID     0
date           0
gender         0
age            0
area           0
income         0
lsr_work       0
lsr_weekend    0
lsr_tot        0
rest           0
hobby          0
self           0
relation       0
etc            0
dtype: int64